%body
  .container
    %img.image-wrapper{:src => "assets/headshot.jpg"}
    %p
      Hello, I'm Andrew. I helped make
      = succeed "." do
        %a#chess{:href => "http://www.chesscademy.com"} Chesscademy
  .social-links
    = link_to "http://www.linkedin.com/in/andrewjmng" do
      = image_tag "/assets/linkedin.png", :height => "30px", :class => "socialbutton"
    = link_to "http://www.github.com/AndrewNg" do
      = image_tag "/assets/github.png", :height => "30px", :id => "github"
    = link_to "http://www.devpost.com/AndrewNg" do
      = image_tag "/assets/devpost.png", :height => "30px", :id => "devpost"
    = link_to "mailto:andrew@chesscademy.com" do
      = image_tag "/assets/email.png", :height => "30px", :class => "socialbutton"
  %p
    %a#resume{:href => "Andrew_Ng_Resume.pdf"} Download Resume